@use 'reset' as *;
@use './variables/global' as *;
@use './themes/light' as *;
@use './themes/dark' as *;
@use './themes/green.scss' as *;

body {
  font: var(--font-m);
  color: var(--secondary-color);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  padding: 20px;
  flex-grow: 1;
}