@use 'reset';
@use './variables/global';
@use './themes/light';
@use './themes/dark';

.app {
  font: var(--font-base);

  background-color: var(--bg-color);
  color: var(--secondary-color);

  min-height: 100vh;
}