.inputWrapper {
  display: flex;
}

.input {
  margin-left: 5px;
  flex-grow: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--primary-color);

  &:focus {
    outline: none;
  }
}