.app.dark {
  --bg-color: #2e3440;
  --inverted-bg-color: #eceff4;

  --primary-color: #5e81ac;
  --secondary-color: #eceff4;
  --inverted-primary-color: #5e81ac;
  --inverted-secondary-color: #2e3440;
}