.app_green_theme {
  --bg-color: #F4F9F7;
  --inverted-bg-color: #0B1B1A;
  --primary-color: #047857;
  --secondary-color: #064E3B;
  --inverted-primary-color: #10B981;
  --inverted-secondary-color: #34D399;
  --skeleton-shadow: #34D399;
  --skeleton-color: #064E3B;
  --code-bg: #fff;

  // card
  --card-bg: #c4cdc9;
}