.app_light_theme {
  --bg-color: #121214;
  --inverted-bg-color: #F8F9FA;
  --primary-color: #7C3AED;
  --secondary-color: #EC4899;
  --inverted-primary-color: #4C1D95;
  --inverted-secondary-color: #BE185D;
}